<br></br><br></br><br></br>

<div id="TitlePlanetIndex">

<h1>Please Choose A Planet</h1>
</div>

<div id="PlanetIndex">
<br>
<ul>
  <% @planets.each do |planet|%>
  <li>
    <%= link_to "#{planet.name} - #{planet.planet_code}", planet %>
  </li>
  <% end %>
</ul>
</div>
