
<br><br/>
<div id="TitlePlanetIndex">

<h1>Sponsor</h1>
</div>

<div id="PlanetIndex">
<br>
<ul>
  <% @sponsors.each do |sponsor| %>
    <li>
      <%= link_to sponsor.first_name + " " + sponsor.last_name, sponsor, class: "c" %><br>
    </li>
  <% end %>
</ul>

<%= link_to "Become a Sponsor", new_sponsor_path %>
</div>
