<h2><%= @sponsor.first_name + " " + @sponsor.last_name %></h2>

<h3>
  Net Worth: $<%= @sponsor.net_worth %>
</h3>

<p>
  <%= @sponsor.goal %>
</p>

<% if session[:sponsor_id]  == @sponsor.id%>
  <%= link_to "Edit Profile", edit_sponsor_path(@sponsor)%>
<% end %>
