<h2><%= @sponsor.full_name %></h2>

<h3>
  Net Worth: $<%= @sponsor.net_worth %>
</h3>

<br>
<h3>Goals:</h3>
<p>
  <%= @sponsor.goal %>
</p>

<% if session[:id] == @sponsor.id && session[:type] == "sponsor" %>
  <%= link_to "Edit Profile", edit_sponsor_path(@sponsor)%>
<% end %>
