<br></br><br></br><br></br>
<div class="AllCol">
<div id="TitleColonistIndex">

<h1>Our Brave and Qualified Space Team</h1>
</div>


<div id="ColonistIndex">
  <br>
<ul>
  <% @colonists.each do |colonist|%>
  <li>
    <%= link_to colonist.full_name, colonist%>
  </li>
  <% end %>
</ul>

<%= link_to "Apply", new_colonist_path %>
