

<div id="TitleColonistIndex">

<h1>Our Brave and <br><br/> Qualified Space Team</h1>
</div>


<div id="ColonistIndex">
  <br>
<ul>
  <% Colonist.active.each do |colonist|%>
  <li>
    <button class="a"><%= link_to colonist.full_name, colonist%></button>
  </li>
  <% end %>
</ul>

<%= link_to "Apply", new_colonist_path %>
</div>
